<nav class="navbar">
<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/saved">Saved Articles</a></li>
    </ul>
</div>
</nav>

<div>
    <h1>Welcome to StackOverflow Scraper</h1>
    <p>Grow your coding knowledge!</p>
</div>

<div class="container-fluid article-container">
{{!-- StackOverflow Articles--}}
</div>

<footer class="footer">
    <div class="container">
        <p>Coding Toolbox</p>
    </div>
</footer>

<script> src="https://code.jquery.com/jquery-3.1.1.min.js"</script>
<script> src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"</script>
<script> src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"</script>
<script> src="../public/assets/javascript/saved.js"</script>